In [5]:
import pandas as pd

cols = ['news_id', 'category', 'subcategory', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities']

news_df = pd.read_csv(
    '/home/xuanhau/CodeSpace/freelancer/infor_recommendation/MINDlarge_train/MINDlarge_train/news.tsv',
    sep='\t',
    header=None,
    names=cols,
    usecols=[0, 3, 4],
    dtype=str,
    on_bad_lines='skip'
)

In [6]:
news_df

,news_id,title,abstract
0,N88753,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the..."
1,N45436,Walmart Slashes Prices on Last-Generation iPads,Apple's new iPad releases bring big deals on l...
2,N23144,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...
3,N86255,Dispose of unwanted prescription drugs during ...,NaN
4,N93187,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...
...,...,...,...
101522,N115249,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b..."
101523,N64337,Mansion Monday: Contemporary Des Moines home i...,Among the perks of this unique Des Moines home...
101524,N100102,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ..."
101525,N74617,Best Sports Car Deals for October,NaN
101526,N56840,Shall we dance: Sports stars shake their leg,NaN

## READ ENTITY VECTOR

In [10]:
# read_entity_embedding.py
import numpy as np
from tqdm import tqdm

ENTITY_PATH = "/home/xuanhau/CodeSpace/freelancer/infor_recommendation/MINDlarge_train/MINDlarge_train/entity_embedding.vec"

print("Đang đọc entity_embedding.vec...")
entity2vec = {}
with open(ENTITY_PATH, 'r', encoding='utf-8') as f:
    for line in tqdm(f, total=232554):
        values = line.rstrip().split()
        if len(values) != 101: 
            continue
        entity_id = values[0]
        vector = np.asarray(values[1:], dtype=np.float32)
        entity2vec[entity_id] = vector

print(f"Đã load {len(entity2vec):,} thực thể")
# Test: Apple Inc. → Q312
print("Apple Inc. (Q312):", entity2vec.get("Q312", "Không có")[:5])

Đang đọc entity_embedding.vec...

  0%|          | 0/232554 [00:00<?, ?it/s]

 18%|█▊        | 42007/232554 [00:00<00:02, 65725.00it/s]

Đã load 42,007 thực thể
Apple Inc. (Q312): [ 0.091596  0.00625   0.08242   0.049334 -0.033524]

## LOAD BEHAVIER

In [11]:
# read_behaviors.py

BEHAVIORS_PATH = "/home/xuanhau/CodeSpace/freelancer/infor_recommendation/MINDlarge_train/MINDlarge_train/behaviors.tsv"

df_behaviors = pd.read_csv(
    BEHAVIORS_PATH,
    sep='\t',
    header=None,
    names=['impression_id', 'user_id', 'time', 'history', 'impressions'],
    dtype=str
)

In [ ]:
df_behaviors = pd.read_csv(
    BEHAVIORS_PATH,
    sep='\t',
    header=None,
    names=['impression_id', 'user_id', 'time', 'history', 'impressions'],
    dtype=str
)

,impression_id,user_id,time,history,impressions
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
...,...,...,...,...,...
2232743,2232744,U316192,11/13/2019 6:50:02 PM,N122359 N37069 N95876 N28787 N73408 N11266 N61321,N113723-0 N123683-1 N5287-0 N76677-0 N53474-0
2232744,2232745,U451238,11/12/2019 8:54:06 AM,N12575 N93816 N71643 N87236 N87236,N18861-0 N20990-0 N43085-0 N7937-1
2232745,2232746,U151246,11/13/2019 12:42:51 PM,N27587 N49668,N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...
2232746,2232747,U330725,11/12/2019 1:22:57 PM,N121944 N91510 N42280 N60061 N63032 N125223 N4...,N18947-0 N88808-1 N10012-0 N38902-0 N33078-0 N...
2232747,2232748,U500938,11/13/2019 8:10:45 PM,N13311 N73573 N36246 N47118 N71728 N105480 N61...,N24701-0 N13161-0 N39403-0 N40310-0 N5287-0 N1...

## READ VECTOR SOTA

In [2]:
import torch
from pathlib import Path
import pandas as pd
#

sample_file = "/home/xuanhau/CodeSpace/freelancer/infor_recommendation/processed_data/samples_parts/part_0000.pt"
data = torch.load(sample_file, map_location='cpu')
df = pd.DataFrame(data)

In [ ]:
df.user_history[0].len()

['N8668',
 'N39081',
 'N65259',
 'N79529',
 'N73408',
 'N43615',
 'N29379',
 'N32031',
 'N110232',
 'N101921',
 'N12614',
 'N129591',
 'N105760',
 'N60457',
 'N1229',
 'N64932',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD',
 'PAD']

In [4]:
vec = torch.load("/home/xuanhau/CodeSpace/freelancer/infor_recommendation/processed_data/news_entity_vec.pt")
vecdf = pd.DataFrame(vec)

In [8]:
vecdf

,N88753,N45436,N23144,N86255,N93187,N75236,N99744,N5771,N124534,N51947,...,N45647,N129155,N97700,N61455,N114875,N115249,N64337,N100102,N74617,N56840
0,0.004057,0.011154,-0.013597,0.063956,-0.065324,0.003752,-0.002881,-0.095814,0.048373,-0.011671,...,-0.052319,0.059524,0.055938,0.069955,-0.009611,0.0,-0.108383,0.000113,-0.002495,0.0
1,-0.039917,0.002282,-0.009758,0.003075,-0.088163,-0.061771,0.004462,-0.135361,-0.033677,-0.040335,...,-0.049508,0.033731,-0.002104,-0.007432,0.042658,0.0,-0.133976,0.034017,0.002657,0.0
2,-0.008374,0.033238,0.017120,-0.005839,-0.015203,-0.037073,0.021645,0.107758,-0.054055,-0.030651,...,0.027064,0.051942,0.031550,0.075966,-0.017212,0.0,-0.019564,0.000248,-0.026376,0.0
3,0.079142,-0.006079,-0.051993,-0.026747,-0.031949,0.026770,-0.031916,-0.050339,0.031752,-0.072774,...,-0.041655,0.000298,-0.022865,0.003970,0.043772,0.0,-0.084663,-0.007079,-0.060487,0.0
4,-0.020230,-0.011816,0.037963,0.027664,0.091263,-0.090658,0.016630,-0.115539,-0.025667,0.028623,...,-0.044651,0.049973,-0.043783,-0.087124,-0.008403,0.0,-0.128997,-0.004147,-0.016039,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.052182,-0.082116,-0.035562,-0.071485,-0.099688,-0.051726,-0.059797,-0.096519,-0.109324,-0.076394,...,-0.082312,-0.101421,-0.031785,-0.089489,-0.086302,0.0,-0.101095,-0.030099,0.030730,0.0
96,0.046934,0.052000,0.106053,0.011918,0.020397,0.012680,0.030373,0.127443,0.012499,0.052694,...,0.055552,0.062448,0.037883,0.012259,0.061069,0.0,0.067229,0.026443,0.047711,0.0
97,-0.024920,-0.039465,-0.100420,-0.017153,-0.086153,-0.058242,-0.070557,-0.081883,-0.011820,-0.056931,...,-0.057684,-0.039648,-0.089011,-0.079480,0.032304,0.0,-0.034047,0.009264,-0.021351,0.0
98,0.071699,0.016651,0.051723,-0.010607,-0.046413,-0.035847,0.033943,-0.116518,0.018744,0.036251,...,-0.044658,0.012115,-0.051823,-0.024188,-0.052547,0.0,-0.071649,-0.014580,0.054113,0.0
99,-0.036128,-0.015847,0.001144,-0.005017,0.066968,0.010902,0.026709,0.063741,0.087919,0.085739,...,0.056367,0.008874,0.038687,0.004176,0.066492,0.0,0.042655,0.037271,-0.000436,0.0